.bg {
  background-image: url("https://thumbs.dreamstime.com/z/website-admin-administrator-campaign-web-template-page-landing-home-homepage-isometric-flat-style-vector-design-188249096.jpg");
  background-size: cover;
  height: 100vh;
}
