@tailwind base;
@tailwind components;
@tailwind utilities;

h6 {
  color: black;
}
p {
  color: black;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
