<div class="h-[80vh] bg-black">
  <div class="container mx-auto text-white">
    <p class="font-extrabold text-5xl py-6 text-white">BLOGZZZ</p>
    <div class="flex justify-between flex-wrap">
      <div class="py-3">
        <ul class="text-xl">
          <li class="mb-4">News</li>
          <li class="mb-4">Sports</li>
          <li class="mb-4">Metro Plus</li>
          <li class="mb-4">Politics</li>
          <li class="mb-4">Featured</li>
          <li class="mb-4">Latest News</li>
          <li class="mb-4">Business</li>
          <li class="mb-4">Business and EconomyOpinion</li>
        </ul>
      </div>
      <div>
        <ul>
          <li class="mb-4 text-xl">Entertainment</li>
          <li class="mb-4 text-xl">Opinion</li>
          <li class="mb-4 text-xl">Auto Famous</li>
          <li class="mb-4 text-xl">Auto Punch</li>
          <li class="mb-4 text-xl">Barka Da Sallah</li>
        </ul>
      </div>
      <div>
        <ul>
          <li class="mb-4 text-xl">Barrier</li>
          <li class="mb-4 text-xl">Breakers</li>
          <li class="mb-4 text-xl">Breaking News</li>
          <li class="mb-4 text-xl">Brexit</li>
          <li class="mb-4 text-xl">Colums</li>
          <li class="mb-4 text-xl">Corona</li>
          <li class="mb-4 text-xl">Biafra</li>
          <li class="mb-4 text-xl">Anti-corruption</li>
        </ul>
      </div>
      <div>
        <ul>
          <li class="mb-4 text-xl">Bokoharam</li>
          <li class="mb-4 text-xl">Case review</li>
          <li class="mb-4 text-xl">Court</li>
          <li class="mb-4 text-xl">Brexit</li>
          <li class="mb-4 text-xl">News</li>
          <li class="mb-4 text-xl">Court</li>
          <li class="mb-4 text-xl">Trivia</li>
          <li class="mb-4 text-xl">Campus</li>
          <li class="mb-4 text-xl">Champion</li>
          <li class="mb-4 text-xl">Celebrity</li>
        </ul>
      </div>
      <div>
        <ul>
          <li class="mb-4 text-xl">Bokoharam</li>
          <li class="mb-4 text-xl">Case review</li>
          <li class="mb-4 text-xl">Court</li>
          <li class="mb-4 text-xl">Brexit</li>
          <li class="mb-4 text-xl">News</li>
          <li class="mb-4 text-xl">Court</li>
          <li class="mb-4 text-xl">Trivia</li>
          <li class="mb-4 text-xl">Campus</li>
          <li class="mb-4 text-xl">Champion</li>
          <li class="mb-4 text-xl">Celebrity</li>
        </ul>
      </div>
      <div>
        <ul>
          <li class="mb-4 text-xl">Bokoharam</li>
          <li class="mb-4 text-xl">Case review</li>
          <li class="mb-4 text-xl">Court</li>
          <li class="mb-4 text-xl">Brexit</li>
          <li class="mb-4 text-xl">News</li>
          <li class="mb-4 text-xl">Court</li>
          <li class="mb-4 text-xl">Trivia</li>
          <li class="mb-4 text-xl">Campus</li>
          <li class="mb-4 text-xl">Champion</li>
          <li class="mb-4 text-xl">Celebrity</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="mx-auto text-center">
    <input
      placeholder="SEARCH HERE..."
      class="bg-white p-5 py-5 sm:w-[400px] sm:w-[100px] items-center rounded-full border-none"
    />
  </div>
</div>
